*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

.main{

    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 100px 100px;
    grid-template-rows: 200px 300px 400px;
    column-gap: 3px;
    row-gap: 5px;
    gap: 5px;
    align-items: end;

    justify-content: space-between;
}

.item{
    padding: 20px;
    background-color: skyblue;
    margin: 5px;
    border: 1px solid green;
}

.item-1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-column: 1/4;
    grid-column: 1 span 3;
}